<div id="img-large-wrapper">
  
</div>
<script>
  $(document).ready(function(){
    $("#img-large-wrapper").iviewer({
      src: "<%= "/downloads/#{file_set.representative_id}" %>",
      zoom: "fit",
      zoom_min: "1%",
      ui_disabled: false
    });
  });
</script>
