<h2>Browse Collections by Architect</h2>
<div id="facet-panel-collapse" class="collapse panel-group">
  <%= render_facet_partials ["creator_sim"], partial: 'collection_facet_image_limit' %>
  <%#= render_facet_partials ["creator_sim"], partial: facet_partial_name(display_facet) %>
  <%= render_facet_partials %>
</div>
