<ul class="facet-values list-unstyled">
  <%
    field_name = facet_field.key.gsub("_sim", "") rescue facet_field.key
    display_facet.items.each do | item |
      item[:field_name] = field_name
      item[:image_filename] = ControlledVocab.where(field: facet_field.key, name: item.value).first.image_filename rescue nil
    end
  %>
  <% paginator = facet_paginator(facet_field, display_facet) %>
  <%= render_facet_image_limit_list(paginator, solr_field) %>
  <% unless paginator.last_page? || params[:action] == "facet" %>
    <li class="more_facets_link">
      <%= link_to t("more_#{field_name}_html", scope: 'blacklight.search.facets', default: :more_html, field_name: facet_field.label), 
        search_facet_url(id: field_name), class: "more_facets_link" %>
    </li>
  <% end %>
</ul>

