<h3>A visual exhibit of selected items from the International Archive of Women in Architecture, a joint partnership between the College of Architecture and Urban Studies and the University Libraries at Virginia Tech</h3>
<div class="col-xs-12 col-sm-12">
  <div>
    <%= render partial: 'browse_items_by_tags' %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    carouselFix();
    tagCloudHandler();
    facetImageHandler();
  });

</script>
