<div id="homepage-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% (0..@images.length-1).each do |img_count| %>
      <% if img_count == 0 %>
        <li data-target="#homepage-carousel" data-slide-to="#{img_count}" class="active"></li>
      <% else %>
        <li data-target="#homepage-carousel" data-slide-to="#{img_count}"></li>
      <% end %>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">

    <% (0..@images.length-1).each do |img_count| %>
      <% if img_count == 0 %>
        <div class="item active">
      <% else %>
        <div class="item">
      <% end %>
        <% begin %>
          <div class="img-holder" style="background-image: url(<%= asset_path(@images[img_count]) %>);"></div>
        <% rescue => error %>
          <div class="img-holder"></div>
        <% end %>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-offset-3 col-md-6 carousel-caption-wrapper">
              <div class="carousel-caption home_marketing_text">
                <h4><%= t("carousel.slide_#{img_count+1}.header") %></h4>
                <p><%= t("carousel.slide_#{img_count+1}.text") %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <a class="left carousel-control" href="#homepage-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#homepage-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div><!-- /.carousel -->
