<% provide :page_title, application_name %>

<div class="row home_header">
  <%= render 'home_header' %>
</div>
<div class="row home-content">
  <%#= @admin_sets.inspect %>
  <%= @params.inspect %>
  <%#= render_facet_partials %>
  <%= render 'home_content' %>
</div>
