<footer class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-text">
      <h3>CONTACT</h3>
      <p>IAWA Archivist [<a href="mailto:specref@vt.edu">specref@vt.edu</a>], Special Collections</p> 
      <p>University Libraries (0434)</p> 
      <p>560 Drillfield Drive</p> 
      <p>Blacksburg, VA 24061</p> 
      <p>(540)231-6308</p> 
    </div>
    <div class="navbar-text">
      <h3>&nbsp;</h3>
      <p>Board Chair [<a href="mailto:ddunay@vt.edu">ddunay@vt.edu</a>], IAWA Center</p> 
      <p>201 Cowgill Hall (0205)</p> 
      <p>1325 Perry St.</p> 
      <p>Blacksburg, VA 24061</p> 
      <p>(540)231-5512</p>
    </div>
    <div class="navbar-right">
      <div class="navbar-text">
        <p><a href="http://vt.edu/index.html"><%=image_tag('vt-logo.png', width:'240') %></a></p>
        <p><%= t('sufia.footer.copyright_html') %></p>
      </div>
    </div>
  </div>
</footer>
