<div class="form-group">
  <%= f.label :manifest_file %>
  <%= f.text_field :manifest_file, size: 50, class: "form_control" %>
  <button type="button" data-toggle="browse-everything" data-route="/browse"
	  data-target="#myForm" class="btn btn-md btn-success" id="browse-manifest">Browse</button>
  <script>
    $(document).ready(function() {
      $('#browse-manifest').browseEverything().done(function(data) {
        // TODO: Find a better way to limit only one file at a time.
        if (data.length != 1) {
          alert("Please specify a single manifest file.");
        } else {
          filePrefixRe = /^file\:\/\/<%= BatchImport.basepath.gsub("/", "\\\/") %>\//i;
          newFile =  data[0].url.replace(filePrefixRe,"")
          $('#batch_import_manifest_file').val( newFile );
        }
      })
    });
  </script>
  
</div>
