#about-content {
  margin-bottom: 40px;
  .sub-content {
    position: relative;
    display: block;
    min-height: 215px;
    margin-bottom: 25px;
  }
  h2 {
    margin-top: 25px;
    clear: both;
  }
}
