// Place all the styles related to the DoiRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table tr th, table tr td { vertical-align: top; text-align: left; padding: 3px; }

.center { text-align: center; }

/* small action buttons */
.actions { width: 230px; }
