$hokie-maroon: #660000;
$hokie-off-maroon: #4c0000;
$hokie-orange: #ff6600;
$hokie-off-orange: #fe5b00;

$hokie-blue-light: #93a7b3;
$hokie-blue-light-med: #557082;
$hokie-blue-dark-med: #3c5b6f;
$hokie-blue-dark: #12252c;

$hokie-cream-light: #f5f5eb;
$hokie-cream-light-med: #edeada;

$hokie-grey:   #333333;

$off-white: #ddd;
$background: white;

.alert {
  margin: 0;
}
