/* VT specific styles */
@import 'colors';

body {
  background-color: $hokie-skipper-smoke;
}

#homeTabs.nav li.active a#featureTab {
  background-color: $hokie-skipper-smoke;
}

div.heading-tile .glyphicon {
  background-color: $hokie-orange;
}
