<% if !@images.empty? %>
  <a href="http://universalviewer.io/uv.html?manifest=<%= presenter.manifest_url -%>" target="_blank">View in Universal Viewer</a>
<% elsif presenter.representative_id.present? && presenter.representative_presenter.present? %>
  <%= media_display presenter.representative_presenter %>
<% else %>
  <%= image_tag 'default.png', class: "canonical-image" %>
<% end %>
