<% if !@images.empty? %>
    <div id="openseadragon1" style="width: 800px; height: 600px;"></div>
    <script type="text/javascript">
      var $viewer = OpenSeadragon({
        id: "openseadragon1",
        prefixUrl: "/assets/openseadragon/",
        sequenceMode: true,
        showReferenceStrip: true,
        tileSources: [
          <% @images.each do |img| -%>
          "<%= riiif.info_path(img.original_file.id, locale: nil) -%>",
          <% end -%>
        ]
      });
    </script>
<% elsif presenter.representative_id.present? && presenter.representative_presenter.present? %>
  <%= media_display presenter.representative_presenter %>
<% else %>
  <%= image_tag 'default.png', class: "canonical-image" %>
<% end %>
